<!doctype html>
<html data-ng-app="ngYTuber">
  <head>
    <meta charset="utf-8"> 
    <title>ng YTuber</title>
    <meta name="author" content="Aleksandar Djordjevic">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='http://fonts.googleapis.com/css?family=Raleway' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="style.css" type="text/css">
    <link rel="icon" href="favicon.ico">
  </head>
  <body data-ng-controller="mainController">
    <header>
      <form id="search" data-ng-submit="search()">
        <input class="query" name="q" type="text" placeholder="Type something to search Youtube" data-ng-model="query">
        <input class="submit" type="image" src="search.png" alt="Search">
      </form>
      <nav>
        <a class="play">{{ youtube.state }}</a>
        <a class="pause">Pause</a>
      </nav>
      <h1>ng<strong>YTuber</strong></h1>
    </header>
    <div class="results">
      <div class="video" data-ng-repeat="video in results" data-ng-click="queue(video.id, video.title)">
        <img class="video-image" data-ng-src="{{ video.thumbnail }}">
        <p class="video-title">{{ video.title }}</p>
        <p class="video-author">{{ video.author }}</p>
        <p class="video-description">{{ video.description }}</p>
      </div>
    </div>
    <div class="player">
      <div id="placeholder"></div>
    </div>
    <div class="playlist">
      <p class="current">{{ youtube.videoTitle }}</p>
      <ol class="upcoming" data-ng-show="playlist">
        <li data-ng-repeat="video in upcoming">
          <p class="item-delete" data-ng-click="delete(upcoming, video.id)">delete</p>
          <p class="item-title" data-ng-click="launch(video.id, video.title)">{{video.title}}</p>
        </li>
      </ol>
      <ol class="history" data-ng-hide="playlist">
        <li data-ng-repeat="video in history">
          <p class="item-delete" data-ng-click="delete(history, video.id)">delete</p>
          <p class="item-title" data-ng-click="queue(video.id, video.title)">{{video.title}}</p>
        </li>
      </ol>
      <p class="tabs">
        <a ng-class="{on:playlist}" data-ng-click="tabulate(true)">Upcoming</a>
        <a ng-class="{on:!playlist}" data-ng-click="tabulate(false)">History</a>
      </p>
    </div>
    <footer>
      <p><em>Built with <3 <a href="http://angularjs.org/">using Angular v1</a>.</em></p>
      <p>Developed by <a href="https://github.com/DeeJayElly">Aleksandar Djordjevic</a></p>
    </footer>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.8/angular.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-local-storage/0.5.0/angular-local-storage.min.js"></script>
    <script src="app.js"></script>
  </body>
</html>
